# .github/workflows/ci.yml
name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3   # get your repo

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ make

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build -- -j$(nproc)

    - name: Run tests
      run: ctest --test-dir build --output-on-failure
